.main_card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    max-height: 80%;
    max-width: 50%;
    background-color: $color-2;
    grid-template-areas: 
    "rt rt"
    "ra rc"
    "rb rb"; 
    margin: 5% auto;
    padding: 1rem;

    .roulette_title {
        font-size: 30px;
        grid-area: rt;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

    }

    .roulette-container {
        font-size: 20px;
        grid-area: rc;
        position: relative;
        border: 2px solid black;
        padding: 0;
        margin: 1em auto;
        margin-right: 55%;
        width: 430px;
        height: 430px;
        border-radius: 50%;
        list-style: none;
        overflow: hidden;
        align-items: start;

        .roulette {
            position: relative;
            border: 1px solid black;
            padding: 0;
            margin: 1em auto;
            width: 580px;
            height: 580px;
            border-radius: 50%;
            list-style: none;
            overflow: hidden;
            left: -70px;
            top: -95px;

            li {
                .background {
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50%;
                    height: 50%;
                    transform-origin: 0% 100%;
                }

                .content {
                    position: absolute;
                    z-index: 30;
                    text-align: center;
                    width: 200px;
                }
            }

            li:first-child .background {
                transform: rotate(0deg) skewY(30deg);
                background: $roulette-color-1;
                border: 1px solid black;
            }

            li:nth-child(2) .background {
                transform: rotate(120deg) skewY(30deg);
                background: $roulette-color-2;
                border: 1px solid black;
            }

            li:nth-child(3) .background {
                transform: rotate(240deg) skewY(30deg);
                background: $roulette-color-3;
                border: 1px solid black;
            }

            .content.first {
                left: 15%;
                top: 35%;
            }

            .content.second {
                right: 15%;
                top: 35%;
            }

            .content.third {
                bottom: 25%;
                left: 30%;
            }
        }
    }

    .roulette_text {
        font-size: 18px;
    }

    .roulette_spinning {
        animation: spin 0.1s infinite linear;
    }

    .roulette_button {
        position: relative;
        grid-area: rb;
        background-color: $color-4;
        color: black;
        padding: 12px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        font-weight: bold;

    }

    .roulette_arrow {
        grid-area: ra;
        position: relative;
        align-self: center;
        justify-self: center;
        font-size: 5rem;
        height: 8vh;
        width: auto;
        color: yellow;

    }

}

@media (max-width: 768px) {
    .main_card {
        display: grid;
        max-height: 100%;
        max-width: 100%;

        .roulette-container {
            position: relative;
            border: 1px solid black;
            padding: 0;
            margin: 0 auto;
            max-width: 280px;
            max-height: 280px;
            border-radius: 50%;
            list-style: none;
            overflow: hidden;

            .roulette {
                position: absolute;
                border: 1px solid black;
                padding: 0;
                margin: 1em auto;
                width: 430px;
                height: 430px;
                border-radius: 50%;
                list-style: none;
                overflow: hidden;
                left: -70px;
                top: -95px;

                li {
                    .background {
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 50%;
                        height: 50%;
                        transform-origin: 0% 100%;
                    }

                    .content {
                        position: absolute;
                        z-index: 30;
                        text-align: center;
                        width: 50px;
                    }
                }

                li:first-child .background {
                    transform: rotate(0deg) skewY(30deg);
                    background: $roulette-color-1;
                }

                li:nth-child(2) .background {
                    transform: rotate(120deg) skewY(30deg);
                    background: $roulette-color-2;
                }

                li:nth-child(3) .background {
                    transform: rotate(240deg) skewY(30deg);
                    background: $roulette-color-3;
                }

                .content.first {
                    left:  25%;
                    top: 35%;
                }

                .content.second {
                    right: 30%;
                    top: 35%;
                }

                .content.third {
                    bottom: 25%;
                    left: 40%;
                }
            }
        }

        .roulette_spinning {
            animation: spin 0.1s infinite linear;
        }

        .roulette_button {
            background-color: $color-4;
            color: black;
            padding: 12px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            font-weight: bold;

        }

        .roulette_arrow {
            position: relative;
            align-self: center;
            justify-self: center;
            height: 3rem;
            font-size: 3rem;
            color: yellow;

        }

    }
}